@font-face {
    font-family: "Inter";
    src: url(../../src/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: "Zen Kaku Gothic New";
    src: url(../../src/fonts/ZenKakuGothicNew-Regular.ttf);
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
}

.header{
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0;
    filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.25));
}

.header_wrapper{
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px 0 150px;
    height: 126px;
    background-color: 262625;
}

.header_logo{
    cursor: pointer;
    width: 250px;
    height: 72px;
    display: flex;
}

.header_block-name{
    cursor: pointer;
    color: #FDF4E3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 20px;
}

.header_name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 14px;
    text-transform: uppercase;
}

.header_name-info{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    width: 220px;
    margin-top: 5px;
}

.header_block{
    display: flex;
}

.header_navbar{
    display: flex;
    color: #FDF4E3;
}

li{
    cursor: pointer;
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

li + li{
    margin-left: 50px;
}

a {
    text-decoration: none;
    color: #FDF4E3;
}

.header_info{
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 122px;
    justify-content: space-between;
    margin-left: 75px; 
}

.header_info img{
    width: 36px;
    height: 36px;
}

/* body */

.block-info {
    background-color: #262625;
    padding: 50px 312px 50px 312px;
    display: flex;
    min-height: 100%;
    justify-content: center;
}

.content-wrapper{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    flex-direction: grid;
    flex-wrap: wrap;
    gap: 20px 35px;
    max-width: 100%;
    height: 100%;
}

.block-content {
    display: flex;
    flex-direction: column;
}

.block-content-image{
    object-fit: cover;
    width: 200px;
    height: 300px;
    border-radius: 5px;
}

.block-content-header{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FDF4E3;

    max-width: 200px;
    height: 90px;
    margin-top: 15px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* footer */
.footer{
    padding: 0 150px 0 150px; 
    height: 130px;
    filter: drop-shadow(0px -4px 25px rgba(0, 0, 0, 0.25));
    background-color: #262625;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_adr-phone-block{
    display: flex;
}

.footer_adress{
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.footer_adress :not(:first-child){
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 10px; /* !!! из-за этого текст лезет друг на друга */
    text-transform: uppercase;
    color: #FDF4E3;
} 


.footer_adress-text{
    margin-bottom: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: #FDF4E3;
}


.footer_phone :not(:first-child){
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    text-transform: uppercase;
    color: #FDF4E3;
} 


.footer_phone{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 36px;
}

.footer_ph{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FDF4E3;
}

.footer_block{
    display: flex;
}

.footer_navbar{
    display: flex;
    color: #FDF4E3;
}

.footer_info{
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 122px;
    justify-content: space-between;
    margin-left: 75px; 
}

.footer_info img{
    width: 36px;
    height: 36px;
}